N is a required property in vCard v3

Hello,

  according to RFC2426, the N property is required in version 3 VCards.

> RFC2426 Section 3.1.2 "N Type Definition": The property MUST be present in the vCard object.

Apple's iCloud service for example rejects vCards that lack this property (as created by Nextcloud contacts application when not explicitly entering detailed contacts information).

The validation in sabre/vobject currently treats this as an optional property independent of the vCard version. It would be great if the validator would mark these issues as an error for version 3 vCards. It would be even nicer if it could repair them, either by simply adding an empty property or by attempting to fill it from FN.