Unescape ',

Just found [this reference](https://tools.ietf.org/html/rfc7265#section-5.1) in the jCal spec:

>  To correctly implement this format, it is critical that if the
       default type is not known that the type "unknown" is used.  If this
       requirement is ignored and for example "text" is used, additional
       escaping may occur which breaks round-tripping values.

To be clear, the type "unknown" is being correctly chosen and output for Non-Std Props by `VObject::jsonSerialize()`. But in the `Unknown` class, the escaping logic is inherited from `Text`, which I believe may be a mistake.

And [also](https://tools.ietf.org/html/rfc7265#section-3.1):

> When converting from iCalendar to jCal: First, iCalendar lines MUST
   be unfolded.  Afterwards, **any iCalendar escaping MUST be unescaped**.
   Finally, JSON escaping, as described in Section 7 of [RFC7159], MUST
   be applied.  The reverse order applies when converting from jCal to
   iCalendar, which is further described in Section 4.

(My emphasis added)

If I'm reading correctly, the jCal spec states that `Unknown` Properties should not be using the same escaping logic as `Text`.

I'm now wondering about whether during serialization to jCal there is any need to escape `','` in `Text` or `FlatText` properties either. Is it the case that escaping comma (and semi-colon for that matter) are iCalendar-specific requirements that don't server any purpose in a jCal context?