vObject emits control chars (invalid output)

RFC5545 §3.3.11. is not completely honoured, not even if the REPAIR option is used.

I’ve checked all chars in the [\x00; \x7F] range only; everything above has to be tested for valid UTF-8, but nothing more, AIUI (and http://tools.ietf.org/html/rfc3629#section-4).
